<h2><center>Publish Assignment 1 (Python)</center></h2>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

#### Import Required Libraries

In [1]:
import pandas as pd
import os

In [2]:
def get_data(filename):
    cwd = os.getcwd()
    path = os.path.join(cwd, filename)
    result = pd.read_csv(path)
    return result
data = get_data('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

__Male__

In [5]:
data.loc[(data.Year == 1996) & (data.Sex == "M"), 'Age'].min()

14.0

__Female__

In [9]:
data.loc[(data.Year == 1996) & (data.Sex == "F"), 'Age'].min()

12.0

'A Fancier way'

In [10]:
(data[data.Year == 1996]
.groupby('Sex')
.agg('min')
.Age)

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__Result__ : Youngest Male is 14 years old and youngest female is 12 years old.

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

In [14]:
# data.query(q) is equals to data[(data.Year == 2000) & (data.Sex == "M")]
q = '(Year == 2000) & (Sex == "M")'
sportsmen_count = len(data.query(q).drop_duplicates(subset = "Name"))
gymnasts_count = len(data.query(q)
                    .query('Sport == "Gymnastics"')
                    .drop_duplicates(subset = "Name"))
print('%.1f' %(gymnasts_count/sportsmen_count * 100))

1.5

__Result__ : 1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

In [29]:
q = '(Year == 2000) & (Sex == "F") & (Sport == "Basketball")'

(data.query(q).describe().Height)

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__Result__ : Mean is 182.4 and std. is 9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

In [35]:
q = '(Year == 2002)'
max_weight_idx = (data.query(q)
                 .Weight
                 .idxmax())
(data.query(q)
.loc[max_weight_idx]
.Sport)

'Bobsleigh'

__Result__ : Bobsleigh

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

In [37]:
q = '(Name == "Pawe Abratkiewicz")'

len((data.query(q)
.groupby('Year')))

3

__Result__ : 3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

In [43]:
q = '(Year == 2000) & (Team == "Australia")'
(data.query(q)
.groupby(['Medal', 'Sport'])
.get_group(('Silver', 'Tennis'))
.shape[0])

2

__Result__ : 2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [45]:
q = '(Year == 2016)'

(data.query(q)
.dropna(subset=["Medal"])
.groupby("Team")
.size()
[['Switzerland', 'Serbia']])

Team
Switzerland    11
Serbia         54
dtype: int64

__Result__ : Yes

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__

In [47]:
q = '(Year == 2014)'
participants_2014 = (data.query(q)
                     .drop_duplicates(subset="Name"))
print('[15, 25): ', len(participants_2014.query('(Age >= 15) & (Age < 25)')))

print('[25, 35): ', len(participants_2014.query('(Age >= 25) & (Age < 35)')))

print('[35, 45): ', len(participants_2014.query('(Age >= 35) & (Age < 45)')))

print('[45, 55]: ', len(participants_2014.query('(Age >= 45) & (Age <= 55)')))

[15, 25):  1193
[25, 35):  1396
[35, 45):  150
[45, 55]:  5

__Result__ : [45-55] and [25-35)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

In [49]:
(pd.crosstab(data.City, data.Season)
.loc[['Lake Placid', 'Sankt Moritz']])

Season        Summer  Winter
City
Lake Placid        0    2098
Sankt Moritz       0    1657

__Result__ : No, Yes

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

In [50]:
q = 'Year == 1995'
r = 'Year == 2016'
abs(data.query(q).Sport.nunique() - data.query(r).Sport.nunique())

34

__Result__ : 34